@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*::before, *::after{
    padding:0;
    margin:0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(15, 240, 161);
}
.player{
width: 380px;
overflow: hidden;
position: relative;
border-radius: 15px;
padding: 25px 30px;
background-image: linear-gradient(rgb(236, 94, 181),rgb(255, 0, 0));
box-shadow: 0px 6px 15px rgb(16, 169, 220);
}
.player i{
    cursor: pointer;
}
.top-bar, .progress-area .timer, .control, .music-list, .header, .music-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-bar i{
    font-size: 30px;
    color: rgb(102, 18, 237);
}
.top-bar span{
    font-size: 18px;
    color: rgb(86, 15, 227);
}
.img-area{
    height: 256px;
    width: 100%;
    border-radius: 15px;
    margin-top: 25px;
    overflow: hidden;
    box-shadow: 0px 6px 12px rgb(221, 155, 155);
}
.img-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.song-details{
    text-align: center;
    margin: 10px 0;
}
.song-details .name{
    font-size: 23px;
}
.song-details .artist{
    opacity: 0.9;
    font-size: 18px;
}
.progress-area{
    height: 6px;
    width: 100%;
    background-color: rgb(241, 232, 229);
    border-radius: 50px;
    cursor: pointer;
}
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    border-radius: inherit;
    position: relative;
    background-image: linear-gradient(90deg,rgb(224, 168, 177) 0%,rgb(229, 30, 229));
}
.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: inherit;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
    opacity: 1;
}
.progress-area .timer{
margin-top: 2px;
}
.timer span{
    font-size: 14px;
    color: rgb(30, 30, 33);
}
.control{
    margin: 40px 0 5px 0;
}
.control i{
font-size: 28px;
user-select: none;
background-image: linear-gradient(90deg,rgb(202, 138, 202) 0%,rgb(212, 80, 183));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.control i:nth-child(2),
.control i:nth-child(4){
    font-size: 23px;
}
.control #prev{
    margin-right: -13px;
    font-size: 35px;
}
.control #next{
    margin-left: -13px;
    font-size: 35px;
}
.control .play-pause{
height: 54px;
width: 54px;
background-image: linear-gradient(90deg,rgb(237, 226, 228) 0%,rgb(231, 211, 231));
box-shadow: 0px 0px 5px rgb(226, 27, 60);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.play-pause::before{
    content: '';
    position: absolute;
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background-image: linear-gradient(rgb(233, 26, 60) 0%,rgb(218, 53, 218));
}
.play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    border-radius: inherit;
    text-align: center;
    background: inherit;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.music-list{
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0;
    
    pointer-events: none;
    width: 100%;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 -5px 10px rgb(61, 57, 57);
    transition: all in 0.14s ease-out;
}
.music-list .show{
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
}
.music-list .header .row{
   display: flex;
   align-items: center;
   font-size: 19px;
   color: black;
}
.header .row i {
cursor: default;
}
.header .row span{
    margin-left: 5px;
}
.header #close{
    font-size: 22px;
color: black;
}
.music-list ul{
    margin: 10px 0;
    max-height: 260px;
    overflow-y: auto;
}
.music-list ul::-webkit-scrollbar{
    width: 0px;
}
.music-list ul li{
cursor: pointer;
list-style: none;
padding-bottom: 10px;
margin-bottom: 5px;
color: black;
border-bottom: 1px solid white;
}
.music-list ul li:last-child{
    border-bottom: 0px;
}
.music-list ul li.row span{
    font-size: 17px;
}
ul li .row p{
    opacity: 0.9;
}
ul li .audio-duration{
    font-size: 16px;
}
ul .playing{
    color: rgba(152, 21, 205, 0.349);
    pointer-events: none;
}
